.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide > img {
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descricao, .card__botoes {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    margin-top: 1em;
}

.descricao__titulo {
    font-weight: 700;
    color: var(--laranja);
}

.descricao__livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul);
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.botoes {
    display: flex;
    gap: 1em;
    align-items: center;
}

.botoes__ancora {
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    padding: 1em 2.2em;
}

.descricao__imagem-estrela {
    margin-bottom: 0.5em;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper {
        width: 75%;
    }

    .swiper-pagination {
        margin: 2em 0;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
        top: 60%;
    }

    .card {
        width: 55%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        padding: 1.5em 0 0.5em 0;
    }

    .carrossel__container {
        display: flex;
        align-items: end;
        gap: 3em;
        margin: 0 15vw 2em 15vw;
    }

    .swiper {
        width: 60%;
    }

    .swiper-pagination {
        margin: 1em;
    }

    .descricao__titulo {
        font-size: 32px;
    }

    .descricao__livro {
        margin: 1em 0;
    }

    .descricao__texto {
        font-size: 16px;
    }
}